---
//import Layout from "../../../layouts/CourseMenuLayout.astro"
//import "../../../../public/static/css/course_home_pages.css"

//WHEN THE PAGE IS MOVED TO ITS PROPER PLACE, i.e. /SRC/PAGES, 
//REMOVE THE TWO LINES ABOVE, AND UNCOMMENT THE LINES BELOW
import Layout from "../layouts/Layout.astro"
import "../../public/static/css/course_home_pages.css"
---

<Layout title="Algebra-based Electricity and Magnetism">
    <!-- Change the above and below to your couse name-->
  <h1>
    <strong>Algebra-based Electricity and Magnetism</strong>
  </h1>
  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/Intro_EM/p1?origin=coursemenu">Page 1</a></li>
      <li><a href="/Intro_EM/p2?origin=coursemenu">Page 2</a></li>
      <li><a href="/Intro_EM/p3?origin=coursemenu">Page 3</a></li>
      <li><a href="/Intro_EM/foundations?origin=coursemenu">Sample fluids page</a></li>
      <li><a href="/Intro_EM/hydrostatic_fluid_pressure?origin=coursemenu">Sample statics page</a></li>
      <li><a href="/Intro_EM/Balancing?origin=coursemenu">Sample machine design page</a></li>
    </ol>
  </section>
  <section class="mt-sm-4 mt-2">
    
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <p>Add any useful links to your course, can remove this section if there are none, e.g:</p>
    <ul>
      <li><a href="/sta/pltips">Other cool thing</a></li>
    </ul>
  </section>
</div>
</Layout>